<div class="container-fluid" style="background-color: grey;">
  <div class="row">
    <div  class="col-md-3">
      <div>
        <mat-card class="mt-3 mb-3">
          <app-add-task-form (taskAdded)="addNewTask($event)"></app-add-task-form>
        </mat-card>
      </div>
    </div>
    <div style="background-color: lightgrey;" class="col-md-9">
<!-- todo list -->
      <ul class="mt-3">
        <li *ngFor="let currentTask of tasks;">
          <app-task *ngIf="!currentTask.status" [task] = "currentTask" (taskChanged)="changeTaskStatus($event)"></app-task>
        </li>
        <li *ngFor="let currentTask of tasks.reverse();">
          <app-task *ngIf="currentTask.status" [task] = "currentTask" (taskChanged)="changeTaskStatus($event)"></app-task>
        </li>
      </ul>
    </div>
  </div>
</div>
