
.full-width {
  width: 70%;
  margin-left: 10vh;
}

form {
  margin-top: 3vh;
}

textarea {
  width: 70%;
  height: 30vh;
  font-size: 1.2rem;
}

.name {
  font-size: 2rem;
  width: 70%;
  color: black;
}

.done-task {
  text-decoration: line-through;
}

.id {
  color: black;
  font-size: 1.2rem;
}

.status {
  color: black;
  font-size: 1.2rem;
}

a {
  margin-left: 10vh;
  color: black;
}
