
.full-width {
  width: 100%;

}

form {
  margin-top: 3vh;
}

textarea {

  height: 30vh;
  font-size: 1.2rem;
}

.name {
  font-size: 2rem;
  color: black;
}

.done-task {
  text-decoration: line-through;
}

.id {
  color: black;
  font-size: 1.2rem;
}

.status {
  color: black;
  font-size: 1.2rem;
}

a {
  color: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
